*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/build
*.apk
*.aab
*.ap_
*.dex
.cxx
*.hprof
.kotlin
key.properties
*.jks
*.keystore
.tmp_sv/
.cursor/
*.log
Poligono_sin_titulo_solid.ifc
CampoAR-debug.apk
android-sdk/
